.blog-container {
    margin-top: 30px;
    .card {
        border: none;
        .card-body {
            padding: 0 45px;
            .title {
                h2 {
                    font-size: 30px;
                    font-weight: 900;
                    color: #fb6334;
                }
            }
            .content {
                p {
                    color: #878787;
                }
            }
            .social {
                font-size: 15px;
                span {
                    margin-right: 10px;
                }
                a {
                    padding: 0px 8px;
                    color: #fff;
                    font-size: 20px;
                    margin: 5px 2px;
                    border-radius: 13px;
                }
                .facebook {
                    background-color: #3b5998;
                    padding: 0px 11px;

                }
                .twitter {
                    background-color: #00aced;
                }
                .mail {
                    background-color: #e6572b;
                }
                .whatsapp {
                    background-color: #25d366;
                }
            }
        }
    }
    .comment-writer {
        width: 100%;
        background-color: #e4e4e4;
        padding: 25px;
        .thumbnail {
            margin-bottom: 10px;
            img {
                width: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
            p {
                margin: 0;
            }
        }
        form {
            textarea {
                width: 100%;
                border: none;
                &:focus {
                    outline: none;
                }
            }
            button {
                margin-top: 8px;
                border: none;
                background-color: #e6572b;
                color: #fff;
                padding: 0 25px;
                border-radius: 12px;
            }
        }
    }

    aside {
        color: #e6572b;
        .search {
            span {
                border: none;
                background-color: #f8fafc;
            }
            input {
                border: none;
                background-color: #f8fafc;
                &::placeholder {
                    color: #e6572b;
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        h6 {
            text-transform: uppercase;
            border-bottom: 1px solid #e6572b;
            padding-bottom: 5px;
            font-weight: 600;
        }
        .item {
            margin: 18px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .text {
                margin-left: 10px;
            }
            h5 {
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
                color: #878787
            }
        }
    }
    .comments {
        margin: 40px 10px;
        img {
            width: 60px;
        }
    }
}
.container-full {
    margin: 30px 0;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    .title {
        margin-bottom: 40px;
        .date-button {
            background-color: #f2f2f2;
            color: #fff;
            margin-left: 15px;
            border-radius: 20px;
            padding: 5px;
            padding-right: 25px;
            padding-left: 0px;
            .orange-button {
                background-color: #e6572b;
                padding: 5px 15px;
                border-radius: 15px;
                color: #fff;
                margin-right: 17px;
                transition: all .3s ease;
                &:hover {
                    text-decoration: none;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                }
            }
            .white-button {
                color: #e6572b;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .card {
        border: none;
        transition: all .3s ease;
        margin-bottom: 10px;
        .cart-button {
            color: #fff;
            background-color: #e6572b;
            padding: 3px 10px;
            border: 1px solid #e6572b;
            transition: all 0.3s ease;
            border-radius: 18px;
            &:hover {
                text-decoration: none;
                background-color: #fff;
                color: #e6572b;
            }
        }
        &:hover {
            -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        }
    }
    .show-more {
        margin-top: 40px;
        a {
            padding: 10px 40px;
            text-transform: uppercase;
            border: 2px solid #e6572b;
            background: #fff;
            color: #e6572b;
            transition: all .3s ease;
            border-radius: 20px;
            &:hover {
                text-decoration: none;
                color: #fff;
                background: #e6572b;
            }
        }
    }
}
