<template>
    <div class="modal mediaModal" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="mediaModalLabel">Insertar Imagen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <ul class="nav nav-tabs" id="media" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="library-tab" data-toggle="tab" href="#library" role="tab" aria-controls="library" aria-selected="true">Biblioteca <span class="badge badge-warning d-none indicator">.</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="upload-tab" data-toggle="tab" href="#upload" role="tab" aria-controls="upload" aria-selected="false">Subir</a>
                        </li>
                        </ul>
                        <div class="tab-content" id="mediaContent">
                        <div class="tab-pane fade show active" id="library" role="tabpanel" aria-labelledby="library-tab">
                            <div class="row media-image">
                                <div class="col-md-3 col-sm-4 col-6 mb-4">
                                    <img src="" class="image">
                                    <input type="radio" class="image-radio" name="image" value="">
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                            <!-- <form action="" class="dropzone" id="my-awesome-dropzone">

                            </form> -->
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="insertImage()">Insertar</button>
                </div>
            </div>
        </div>
    </div>
</template>

  <script>
  export default {

  }
  </script>

 <style>
 #app .modal img {
    width: 100%;
    height: 100%;
 }
 #app .modal img.selected {
    border: 2px solid #17202e;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
 }
</style>
