<template>
    <div>

        <media></media>

        <div class="form-group">
            <input type="text" placeholder="Título" v-model="post.title" class="form-control">
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <h4>Descripción</h4>
                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#mediaModal">
                    <i class="fa fa-file-image-o" aria-hidden="true"></i> Insertar Imagen
                </button>
            </div>
            <textarea name="content" v-model="post.content" placeholder="Contenido">
            </textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="excerpt">Extracto</label>
                <textarea class="form-control" v-model="post.excerpt" placeholder="Extracto (opcional)">
                </textarea>
            </div>
            <div class="custom-control custom-checkbox col-md-4">
                <input v-model="post.comments_status" type="checkbox" class="custom-control-input" id="comment-status">
                <label class="custom-control-label" for="comment-status">Permitir comentarios</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="topic">Tema</label>
                <select name="" multiple class="form-control" id="">
                    <option value="" v-for="(topic, index) of initial_topics" :key="index">{{ topic.name }}</option>
                </select>
                <div class="selected">
                    <h5 class="mt-2">Seleccionados</h5>
                    <span class="badge badge-success" v-for="(topic, index) of topics" :key="index">{{ topic.name }} <a href="#">&times;</a></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="subtopic">Sub Tema</label>
                 <select name="" multiple class="form-control" id="">
                    <option value="" v-for="(subtopic, index) of activeSubtopics" :key="index">{{ subtopic.name }}</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary float-right">Enviar</button>

    </div>

</template>

<script>
export default {
    props: ['initial_post', 'initial_topics', 'initial_subtopics', 'images'],
    data() {
        return {
            post: this.initial_post,
            activeSubtopics: [],
            topics: this.initial_post.topics,
            subtopics: this.initial_post.subtopics,
        }
    },
    created() {

        this.activeSubtopicsAdd();

    },
    methods: {
        activeSubtopicsAdd() {

            var self = this;

            self.activeSubtopicsAdd = [];

            this.post.topics.forEach(topic => {
                topic.subtopics.forEach(subtopic => {
                    self.activeSubtopics.push(subtopic);
                });
            });
        }
    }

}
</script>
